nav ul {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.left, .right {
    display: flex;
    padding:.5rem;
}

.center {
    flex-grow: 1; /* Makes the center element grow to take up remaining space */
    display: flex;
    justify-content: center; /* Centers the search bar */
}

ul{
    list-style: none;
}
.lside{
    display: flex;
    justify-content: left;
}
.rside{
    display: flex;
    justify-content: right;
}
