/*body header*/
#reddit-logo {
    height: 2.2rem;
    width: 6.8rem;
    margin-top: 0px;
    
}

header ul{
    margin: 0px;
    padding: 0;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}


body{
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px 16px;
    border-bottom: 1px solid #cccccc;
    
}
.button-image{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}
/*
button.icons{
    padding:0;
}
    */
header ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}


    

input{
    border-radius: 2rem;
    border: 1px solid #d2d2d2;
    padding:10px;
    
    width: 33rem;
    background-color: #e5ebee;
    
    font-size: 16px;
}

main{
    display: grid;
    grid-template-columns: 17rem 1fr 20rem;

    
}
aside ul{
    display: flex;
    flex-direction: column;
    padding:0;
    border-bottom: 1px solid #e6e6e6;
    gap: 10px;

}
aside{
    border-right: 1px solid #cccccc;
    padding: 0px 16px;
}
button{
    border: none;
    background-color: white;
    border-radius: 10px;
    padding: 8px 30px;
    font-size: 14px;
}
button:hover {
    background-color: #f6f8f9; /* Changes color when hovered */
    cursor: pointer; /* Shows pointer on hover */
}


article header{
    display: flex;

}
nav ul button{
    display: flex;
    background-color: #e5ebee;
    border-radius: 20px;
    padding: 8px 20px;
}
#right-top-navigators{
    gap:0 !important;
}
.icons{
    display: flex;
    align-items: center;
    border: none;
    background-color: #fff;
    padding: 8px 8px;
    border-radius: 50px;
}

/*sidebar: title*/
.title-sidebar{
    color: #576f76; 
}
/*sidebar: top*/
.top-sidebar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.home-sidebar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #e5ebee;
}

.top-icon{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}


/*sidebar: community*/
.community-sidebar{
    display: flex;

    justify-content: space-between;
    gap: 5px;
    padding: 5px 15px;
    align-items: center;
    flex-wrap: wrap;
}
ul button div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.star-icon{
    width: 22px;
    height: 21.5px;
    
}
div .star-icon{
    margin-right: auto;
}
.Communities-icons{
    height: 30px;
    width: 35px;
    object-fit: cover;
    border-radius: 50%;
}
ul button div{
    margin:0;
}
ul button p{
    margin:0;
}
/*post section*/
.post-section-header{
    display: flex;
    justify-content: flex-start;
    padding:0;
    padding-bottom: 7px;
    border-color:#e6e6e6;
}
.post-section-header button{
    padding: 8px 10px;
    border-radius: 35%;
}

main div{
    margin: 7px 40px;
}
/*post*/
article{
    display:flex;
    flex-direction: column;
}
.post{
    margin: 7px 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}
.post-button{
    padding:0
}
.post-header{
    display: flex;
    border:0;
    padding:0;
    justify-content: space-between;
}
.post-info{
    display: flex;
    gap:10px;
    align-items: center;
    flex-wrap: wrap;
    margin:2px 13px;
}
.post-image{
    max-width:100%;
    max-height:100%;
}
p{
    margin:0;
}
#aita-post{
    height: 30px;
    width: 35px;
    object-fit: cover;
    border-radius: 50%;
}
.button-container{
    margin:0;
}
.post-title{
    font-weight: bold;
    font-size: large;
}
